h1{
    font-family: "Cinzel Decorative", serif;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF9300;
    font-size: 3em;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
nav a{
    color: #FF9300;
}
nav a:hover{
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
    color: lime;
}
body{
    font-family: "Playfair Display", serif; 
    background-color: #321A37;
    color:#FF9300;
}
fieldset{
    margin: 50px;
    padding: 20px;
    border: 2px solid #FF9300;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    
}
fieldset p{
    font-size: 2em;
    display: flex;
    align-items: center;
}
fieldset ul {
    font-size: 1.8em;
}
legend{
    font-size: 2.2em;
    font-weight: bold;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
img{
    border-radius: 15px;
}
figcaption i{
    display: block;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #FF9300;
    font-size: 1em;
}
footer a{
    color: #FF9300;
}
footer a:hover{
    transform: scale(1.4);
    color: lime;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;   /* centers items horizontally */
    text-align: center;
    gap: 10px;
}

div p{
    flex-direction: column;
    align-items: center;   /* centers items horizontally */
    text-align: center;
    gap: 10px;
}

#surprise-button {
    background-color: #FF9300;
    color: #321A37;
    border: 2px solid #FF9300;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#surprise-button:hover {
    background-color: lime;
    transform: scale(1.05);
}

#fact-button {
    background-color: #FF9300;
    color: #321A37;
    border: 2px solid #FF9300;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#fact-button:hover {
    background-color: lime;
    transform: scale(1.05);
}

#service-button{
    background-color: #FF9300;
    color: #321A37;
    border: 2px solid #FF9300;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#service-button:hover {
    background-color: lime;
    transform: scale(1.05);
}

#product-button{
    background-color: #FF9300;
    color: #321A37;
    border: 2px solid #FF9300;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#product-button:hover {
    background-color: lime;
    transform: scale(1.05);
}

#gardening-button{
    background-color: #FF9300;
    color: #321A37;
    border: 2px solid #FF9300;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#gardening-button:hover {
    background-color: lime;
    transform: scale(1.05);
}

.season-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.slide-in {
  animation: slideIn 0.5s ease forwards;
}

/* Fade animation */
.fade {
  animation: fadeInOut 1s ease-in-out;
}

/* Flip animation */
.flip {
    animation: flip-card 0.6s forwards;
}

@keyframes flip-card {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;}
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn-reverse {
  0% {
    transform: translateX(-100%);
    opacity: 0;}
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}


@media (max-width: 767px){
    body{
        font-size: 14px;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    body{
        font-size: 16px;
        padding: 15px;
    }
}

@media (min-width: 1024px){
    body{
        font-size: 18px;
        padding: 20px;
    }
}