<footer>
    <nav>
        <p>
            <a href="https://webpages.charlotte.edu/dwill344/">CLT Web</a> ☯︎
            <a href="https://github.com/devinthedude515" target="_blank">GitHub</a> ☯︎
            <a href="https://github.com/Devinthedude515/Devinthedude515.github.io" target="_blank">GitHub.io</a> ☯︎
            <a href="https://www.freecodecamp.org/fcc-2cfb918d-d7d3-4b1f-b356-76f5751d3961" target="_blank">freeCodeCamp</a> ☯︎
            <a href="https://www.codecademy.com/profiles/giga3836543880" target="_blank">Codecademy</a> ☯︎
            <a href="https://www.linkedin.com/in/devin-williams-8b6a36197/" target="_blank">LinkedIn</a>
        </p>
    </nav>
    <p>Page built by <a href="dwdesignz.com/" target="_blank">D.W. Designz, Inc.</a> &copy; 2025</p>
</footer>