<header>
    <h1>Devin Williams ~ Deceptive Wolverine || ITIS 3135</h1>
            <nav>
                <p>
                    <a href="./">Home</a> 
                    ☯︎
                    <a href="introduction.html">Introduction</a> 
                    ☯︎
                    <a href="contract.html">Contract</a>
                    ☯︎
                    <a href="intro_form.html">BYO Introduction</a>
                    ☯︎
                    <a href="project_overview.html">Project Overview</a>
                    ☯︎
                    <a href="website_evaluations.html">Website Evaluations</a>
                    ☯︎
                    <a href="fccfsjs_outline.html">Full Stack JavaScript Outline</a>
                </p>
            </nav>
            <nav>
                <p>
                    <a href="deceptivewolverine.net/about.html">About</a> 
                    ☯︎
                    <a href="https://webpages.charlotte.edu/dwill344/itis3135/stuff/CRAPPY PAGE😂.html">CRAPPY PAGE</a>
                    ☯︎
                    <a href="hobby/index.html">💣💣Hobby💣💣</a>
                    ☯︎
                    <a href="clientproject/index.html">🍂Client Project🍂</a>
                </p>
            </nav>
</header>